.git
.github
.venv
.cache
.coverage*
.dvc/cache
.dvc/tmp
.env*
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.egg-info
*.log
*.onnx
*.pt
*.pth
build
data
dist
htmlcov
mlartifacts
mlflow.db
mlruns
models
notebooks
outputs
